* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: rgb(0, 204, 255);
    color: black;
    margin: auto;
}

#logo {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    margin-bottom: 150px;
}

#login {
    width: 400px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 20px white;
    border-radius: 30px;
    gap: 30px;

}

h1{
    font-size: 50px;
}

input {
    width: 350px;
    height: 25px;
    border: 1px black solid;
    border-radius: 25px;
    padding: 15px;
    font-size: 20px;
    
}

label{
    text-align: left;
    width: 100%;
}

#btnn{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 204, 255);
    border-radius: 20px;
    border: none;
    color: white;
}