* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: rgb(0, 204, 255);
    color: black;
    margin: auto;
    font-family: "Exo",sans-serif;
}

#logo {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    margin-bottom: 150px;
}

#login {
    width: 400px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    gap: 30px;
    padding: 30px;
    height: 500px;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

input {
    width: 350px;
    height: 25px;
    border: 1px black solid;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;

}

label {
    text-align: left;
    width: 100%;
}

label p{
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: -20px;
}

#btnn {
    width: 200px;
    height: 50px;
    background-color: rgb(0, 204, 255);
    border-radius: 20px;
    border: none;
    color: white;
}

.register {
    font-size: 14px;
    color: #666;
    text-align: center;
}

.register a {
    color: #00bfff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}

.register a:hover {
    color: #009acd;
}

#ismError {
    color: red;
    font-size: 17px;
    margin-top: 5px;
    display: block;
}